@page
@model InvoiceModel
@{
    ViewData["Title"] = "Račun";
}

<div class="text-center" style="text-align: left">    
     <p style="text-align: left">Podatki o računu:</p>

     <p style="text-align: left">Id: @Model.invoice.Id</p>
     <p style="text-align: left">Klient: @Model.invoice.ClientName</p>
     <p style="text-align: left">Datum Izdaje: @Model.invoice.IssueDate</p>
     <p style="text-align: left">Znesek: @Model.invoice.Sum</p>

     <p style="text-align: left">Artikli:</p>
     <ul style="text-align: left">
         @foreach (var line in Model.invoice.Lines)
         {
         <li>@line.Article - @line.Price - @line.Amount - @Html.Raw(line.Price * line.Amount)</li>
         }
     </ul>
    
</div>
